<h1>Lisää kirja lukuvinkkeihin</h1>

<p>Syötä lukuvinkkikirjan tiedot:</p>

<form method="POST" action="/kirja">
    <fieldset>
        Kirjan nimi: <input type="text" name="kirjan_nimi" id="kirjan_nimi" size="15"/>
        <br/>
        Kirjoittaja: <input type="text" name="kirjoittaja" id="kirjoittaja" size="15"/>
        <br/>
        <input name="lisaa" type="submit" value="Lisää" />
    </fieldset>
    </form>

#if( $vahvistus )
<div id="vahvistus" style="color:limegreen">
    <p><em>$vahvistus</em></p>
</div>
#end

#if( $virhe )
<div id="virhe" style="color:red">
    <p><em>$virhe</em></p>
</div>
#end
<p><a href="lukuvinkit">Katsele lukuvinkkejä</a></p>
<p><a href="index">Takaisin etusivulle</a> </p>


