<h1>Lisää podcast lukuvinkkeihin</h1>

<p>Syötä lukuvinkkipodcastin tiedot:</p>

<form method="POST" action="/podcast">
    <fieldset>
        <div class="form-group row">
            <label for="podcast-title" class="col-sm-4 col-form-label col-form-label-sm">Podcastin nimi</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="podcast-title" name="podcast-title" placeholder="Podcastin nimi" title="Podcastin nimi">
            </div>
        </div>
        <div class="form-group row">
            <label for="podcast-series" class="col-sm-4 col-form-label col-form-label-sm">Sarja</label>
            <div class="col-sm-10">
               <input type="text" class="form-control form-control-sm" id="podcast-series" name="podcast-series" placeholder="Sarja" value=" " title="Sarja">
            </div>
        </div>
        <div class="form-group row">
            <label for="podcast-creator" class="col-sm-4 col-form-label col-form-label-sm">Tekijä</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="podcast-creator" name="podcast-creator" placeholder="Tekijä" value=" " title="Tekijä">
            </div>
        </div>
        <div class="form-group row">
            <label for="podcast-url" class="col-sm-4 col-form-label col-form-label-sm">URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control form-control-sm" id="podcast-url" name="podcast-url" placeholder="URL" value=" " title="URL">
            </div>
        </div>
        <div class="form-group row">
            <label for="podcast-description" class="col-sm-4 col-form-label col-form-label-sm">Kuvaus</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="podcast-description" id="podcast-description" rows="3" placeholder="kuvaus" title="Kuvaus"> </textarea>
            </div>
        </div>
        <button type="submit" name="add-podcast-button" class="btn btn-primary">Lisää</button>
    </fieldset>
</form>

#if( $vahvistus )
<div id="vahvistus" style="color:limegreen">
    <p><em>$vahvistus</em></p>
</div>
#end

#if( $virhe )
<div id="virhe" style="color:red">
    <p><em>$virhe</em></p>
</div>
#end
