<h1>Lukuvinkit </h1>

#if ($books)
 <ul>
   #foreach ($book in $books)
   #set($url1 = "/lukuvinkit/poista/$book.getId()")
   #set($url2 = "/lukuvinkit/paivita/$book.getId()")
   <li>$book.toString()
     <button type="button" class="btn btn-outline-danger" onclick="deleteConfirmation()"><a href=$url1>poista</a></button>
     <button type="button" class="btn btn-outline-info" ><a href=$url2>update</a></button>
   </li>
   #end
 </ul>
#end


<script>
  function deleteConfirmation() {
    alert("Haluatko varmasti poistaa vinkin?")

  }
</script>

#if( $info )
<div id="info">
  <p><em>$info</em></p>
</div>
#end

#if( $vahvistus )
<div id="vahvistus" style="color:limegreen">
    <p><em>$vahvistus</em></p>
</div>
#end

#if( $virhe )
<div id="virhe" style="color:red">
    <p><em>$virhe</em></p>
</div>
#end




 