
<h1>Lukuvinkit </h1>

#if ($books)
 <ul>
   #foreach ($book in $books)
   <li>$book.toString()
     <button onclick="deleteConfirmation()"><a href="/lukuvinkit/poista/${book.lukuvinkki_id}">poista</a></button>
   </li>
   #end
 </ul>
#end


<script>
  function deleteConfirmation() {
    alert("Haluatko varmasti poistaa vinkin?")
  }
</script>


#if( $info )
<div id="info">
  <p><em>$info</em></p>
</div>
#end

#if( $vahvistus )
<div id="vahvistus" style="color:limegreen">
    <p><em>$vahvistus</em></p>
</div>
#end

#if( $virhe )
<div id="virhe" style="color:red">
    <p><em>$virhe</em></p>
</div>
#end

<p><a href="index">Takaisin etusivulle</a> </p>
<p><a href="kirja">Lisää kirja lukuvinkkeihin</a></p>

 