<h1>Valitse syötettävän vinkin tyyppi:</h1>

<form method="POST" action="/tyyppi">
    <div class="form-group">
        <label for="typeOfReadingTip">Lukuvinkin tyyppi</label>
        <select class="form-control" id="typeOfReadingTip" name="typeOfReadingTip">
            <option name="book" value="book">Kirja</option>
        </select>
    </div>
    <div>
        <button type="submit" name="typeOfReadingTipButton" class="btn btn-primary">Valitse tyyppi</button>
    </div>
</form>



<!--
<option name="podcast" value="podcast">Podcast</option>
<option name="video" value="video">Video</option>
<option name="blog" value="blog">Blogi</option> 
-->
